@page
@model ForgotPasswordModel
@{
    // ViewData["Title"] = "Forgot your password?";
    ViewData["PageTitle"] = "Forgot your password?";
}

@* <h1>@ViewData["Title"]</h1> *@
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="widget p-5" style="background-color:#212b36">
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger fs-6" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Email" class="form-control text-black fs-6" autocomplete="username" aria-required="true" placeholder="name@example.com" />
					<label asp-for="Input.Email" class="form-label text-black fs-6"></label>
					<span asp-validation-for="Input.Email" class="text-danger fs-6"></span>
				</div>
				<button type="submit" class="w-100 btn btn-lg btn-success fs-6">Reset Password</button>
			</form>
        </div>
    </div>
	<div class="col-md-8">
		<div class="widget h-100 d-flex justify-content-center align-items-center">
			<i class="fa-solid fa-user-pen style=" color:#65da41""></i>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
