@model WebApp.Models.Transaction

@{
	// ViewData["Title"] = "Create";
	ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create a new transaction" : "Edit transaction";

}

<div class="row">
	<div class="col-md-7">
		<div class="widget p-5" style="background-color:#212b36">
			<form asp-action="AddOrEdit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" name="TransactionId" value="@Model.TransactionId" />
				<div class="mb-3">
					@* <label asp-for="CreatedDate" class="control-label"></label>
					<input asp-for="CreatedDate" class="form-control" /> *@
					<ejs-datepicker id="datepicker" ejs-for="CreatedDate" format="dd.MM.yyyy"
									floatLabelType="Always" placeholder="Date"></ejs-datepicker>
				</div>
				<div class="mb-3">
					<label asp-for="TransactionType" class="control-label fs-6"></label>
					<select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-control"></select>
					<span asp-validation-for="TransactionType" class="text-danger"></span>
				</div>
				@* <div class="mb-3">
					<ejs-dropdownlist id="transactionType" dataSource="Html.GetEnumSelectList<TransactionType>()"
									  placeholder="Transaction Type" floatLabelType="Always">
						<e-dropdownlist-fields value="TransactionType.Income" text="TransactionType.Income"></e-dropdownlist-fields>
					</ejs-dropdownlist>
				</div> *@
				<div class="mb-3">
					<ejs-dropdownlist id="categories" ejs-for="CategoryId" dataSource="@ViewBag.Categories"
									  placeholder="Category" floatLabelType="Always">
						<e-dropdownlist-fields value="CategoryId" text="Name"></e-dropdownlist-fields>
					</ejs-dropdownlist>
					<span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
				</div>
				@* <div class="mb-3">
					<label asp-for="Amount" class="control-label"></label>
					<input asp-for="Amount" class="form-control" />
					<span asp-validation-for="Amount" class="text-danger"></span>
				</div> *@
				<div class="mb-3">
					<ejs-numerictextbox id="amount" ejs-for="Amount"  placeholder="Amount" floatLabelType="Always" min="0" format="c2">
					</ejs-numerictextbox>
					<span asp-validation-for="Amount" class="text-danger fs-6"></span>
				</div>
				<div class="mb-3">
					<ejs-textbox id="Comment" placeholder="Comment" ejs-for="Comment" floatLabelType="Always" multiline="true"></ejs-textbox>
				</div>
				<div class="mb-3">
					<ejs-button id="Submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<div class="widget h-100 d-flex justify-content-center align-items-center">
			<i class="fa-solid fa-money-bill-transfer fa-beat-fade fa-2xl"></i>
		</div>
	</div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
